:root {
  --ashley: rgb(199, 97, 162);
  --jevan: rgba(82, 14, 14, 0.817);
}

/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 900px;
}

#landing {
  display: none;
  margin: auto;
  width: 60vw;
  height: 90vh;
  background-color: rgba(65, 105, 225, 0.705);
}

#landing > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
}

#landing > button {
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
}

#landing p,
#landing button,
#landing form,
#landing input {
  text-align: center;
}

#easy,
#medium,
#hard {
  width: max-content;
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
}

#easy {
  background-color: rgb(32, 152, 84);
}

#medium {
  background-color: rgba(255, 255, 0, 0.705);
}

#hard {
  background-color: rgba(255, 0, 0, 0.705);
}

#game {
  /* display: grid; */
  display: none;
  width: 100%;
  height: 90vh;
  grid-template-columns: 30vw 1fr 30vw;
  grid-template-rows: 15vh 1fr 5vh;
  grid-template-areas:
    'header header header'
    'playerArea diceArea enemyArea'
    'footer footer footer';
  background-color: rgba(127, 115, 115, 0.594);
}

#help {
  display: none;
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: rgba(65, 225, 182, 0.705);
  margin: auto;
  flex-direction: column;
}

#help > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
}

#help-return {
  position: absolute;
  bottom: 0;
  right: 0;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
  align-self: flex-end;
  margin: 1rem;
}

#gameover {
  display: none;
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: rgba(225, 65, 65, 0.705);
  margin: auto;
  flex-direction: column;
}

#gameover > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
}

#restart {
  position: absolute;
  bottom: 0;
  right: 0;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
  align-self: flex-end;
  margin: 1rem;
}

main > #game-header {
  grid-area: header;
  text-align: center;
  background-color: rgba(127, 255, 212, 0.605);
}

.playerArea {
  grid-area: playerArea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unitInfo {
  flex-grow: 1;
}

.enemyArea {
  grid-area: enemyArea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rollingArea {
  grid-area: diceArea;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1rem;
  grid-template-areas:
    'player1 enemy'
    'player2 enemy'
    'player3 enemy'
    'gamebutton gamebutton';
  padding: 0.6rem 2rem;
}

.rollingArea > .Ashley {
  grid-area: player1;
  display: flex;
  align-self: flex-start;
  border: 3px solid var(--ashley);
}

.rollingArea > .Jevan {
  grid-area: player2;
  display: flex;
  align-self: center;
  border: 3px solid var(--jevan);
}

.rollingArea > .Podenco {
  grid-area: player3;
  display: flex;
  align-self: flex-end;
}

.rollingArea > .enemyDiceArea {
  grid-area: enemy;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

#game > section {
  margin: 2rem;
  border: 2px solid black;
}

.playerUnit,
.enemyUnit {
  height: 130px;
  margin: 0.5rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 15px;
  align-items: center;
}

.enemyUnit {
  height: fit-content;
}

.unitInfo {
  font-weight: 580;
}

.unitInfo > div {
  width: 100%;
  text-align: center;
}

.unitHP {
  color: rgba(237, 22, 90, 0.849);
}

.unitShield {
  color: rgba(0, 106, 255, 0.776);
}

.playerDice,
.enemyDice {
  height: 90px;
  width: 90px;
  padding: 0.1rem;
  border: 2px solid black;
  margin-right: 3px;
  transition: all 0.5s ease-in-out;
}

.playerHighlight {
  border: 3px solid rgb(20, 41, 155);
  transition: all 0.5s ease-in-out;
  transform: translateX(10px);
}

.enemyHighlight {
  border: 3px solid rgb(186, 35, 103);
}

.dicePrompt {
  border: 3px solid rgb(16, 158, 103);
}

#rollingArea > .game-buttons {
  grid-area: gamebutton;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  grid-area: footer;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(127, 255, 212, 0.605);
}

#game-reset,
#game-help {
  position: absolute;
  bottom: 0;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
  align-self: flex-end;
  margin: 1rem;
}

#game-reset {
  right: 20vw;
}

#game-help {
  left: 20vw;
}

#playerUnit0 {
  /* border: 3px solid rgb(199, 97, 162); */
  border: 3px solid var(--ashley);
}

#playerUnit1 {
  border: 3px solid var(--jevan);
}
