:root {
  --ashley: rgba(199, 97, 161, 0.4);
  --jevan: rgba(25, 34, 132, 0.4);
  --podenco: rgba(146, 136, 46, 0.4);
}

/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 900px;
  background: rgb(64, 213, 190);
  background: linear-gradient(
    128deg,
    rgba(64, 213, 190, 1) 12%,
    rgba(255, 94, 232, 1) 51%,
    rgba(150, 171, 127, 1) 89%
  );
}

#landing,
#help,
#gameover,
#winner {
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

#landing {
  display: none;
  margin: auto;
  width: 60vw;
  height: 90vh;
  background-color: rgba(49, 92, 208, 0.587);
  flex-direction: column;
}

#landing > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 1rem;
}

#landing p,
#landing button,
#landing form {
  text-align: center;
  margin: 0 1rem;
}

#start-form {
  flex-grow: 1;
}

#easy,
#medium,
#hard {
  width: max-content;
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
}

#easy {
  background-color: rgb(32, 152, 84);
}

#medium {
  background-color: rgba(255, 255, 0, 0.705);
}

#hard {
  background-color: rgba(255, 0, 0, 0.705);
}

#help-button {
  width: min-content;
  margin: auto;
}

#game {
  /* display: grid; */
  display: none;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 30vw 1fr 30vw;
  grid-template-rows: 20vh 1fr 10vh;
  grid-template-areas:
    'header header header'
    'playerArea diceArea enemyArea'
    'footer footer footer';
  /* background: rgb(64, 213, 190);
  background: linear-gradient(
    128deg,
    rgba(64, 213, 190, 1) 12%,
    rgba(255, 94, 232, 1) 51%,
    rgba(150, 171, 127, 1) 89%
  ); */
}

#help {
  display: none;
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: rgba(65, 225, 182, 0.705);
  margin: auto;
  flex-direction: column;
}

#help > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
}

#help-return {
  position: absolute;
  bottom: 0;
  right: 0;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
  align-self: flex-end;
  margin: 1rem;
}

#gameover {
  display: none;
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: rgba(225, 65, 65, 0.705);
  margin: auto;
  flex-direction: column;
}

#gameover > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
}

#restart {
  position: absolute;
  bottom: 0;
  right: 0;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
  align-self: flex-end;
  margin: 1rem;
}

main > #game-header {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: header;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#player-info,
#user-prompt {
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.5);
}

#player-info {
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: rgb(202, 125, 125);
  height: fit-content;
  padding: 1rem;
  border-radius: 20px;
}

#user-prompt {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 120px;
  background-color: rgba(209, 57, 138, 0.587);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 550;
  transition: all 1.5s ease-in-out;
}

#game-reset {
  height: fit-content;
  margin-top: 1rem;
  margin-right: 1rem;
}

.playerArea {
  grid-area: playerArea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.enemyArea {
  grid-area: enemyArea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rollingArea {
  grid-area: diceArea;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2rem;
  grid-template-areas:
    'player1 enemy'
    'player2 enemy'
    'player3 enemy'
    'gamebutton gamebutton';
  padding: 0.6rem 2rem;
  border: 2px solid black;
  background-color: rgba(245, 245, 245, 0.509);
}

/* .rollingArea > .Ashley {
  grid-area: player1;
  display: flex;
  align-self: flex-start;
  border: 3px solid var(--ashley);
}

.rollingArea > .Jevan {
  grid-area: player2;
  display: flex;
  align-self: center;
  border: 3px solid var(--jevan);
}

.rollingArea > .Podenco {
  grid-area: player3;
  display: flex;
  align-self: flex-end;
} */

.rollingArea > .enemyDiceArea {
  grid-area: enemy;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.rollingArea > #rerollbutton {
  grid-area: gamebutton;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-spin-0 {
  background-color: teal !important;
}

.dice-spin-1 {
  background-color: rgb(255, 0, 0) !important;
}

.dice-spin-2 {
  background-color: rgb(0, 255, 0) !important;
}

#game > section {
  margin: 1rem;
}

.playerUnit,
.enemyUnit {
  height: 110px;
  margin: 0.5rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 15px;
  align-items: center;
}

.enemyUnit {
  height: 95px;
  background-color: rgba(199, 134, 21, 0.507);
}

.playerUnit {
  background-color: rgba(243, 198, 76, 0.539);
}

.unitInfo {
  font-weight: 580;
  flex-grow: 1;
}

.unitInfo > div {
  width: 100%;
  text-align: center;
}

.unitHP {
  color: rgba(237, 22, 90, 0.849);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

.unitShield {
  color: rgba(0, 106, 255, 0.776);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.diceInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: rgba(32, 178, 171, 0.712);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.diceInfo:hover {
  background-color: rgba(39, 207, 198, 0.712);
}

.playerDice,
.enemyDice {
  height: 75px;
  width: 75px;
  padding: 0.1rem;
  border: 2px solid black;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.3);
}

.playerHighlight {
  border: 3px solid rgb(20, 41, 155) !important;
  transition: all 0.5s ease-in-out;
}

.enemyHighlight {
  border: 3px solid rgb(186, 35, 103);
}

.dicePrompt {
  border: 3px solid rgb(16, 158, 103);
  transform: scaleX(1.15) scaleY(1.15);
  transition: all 0.5s ease-in-out;
}

.end-turn-prompt {
  border: 3px solid rgb(48, 110, 186) !important;
  transform: scaleX(1.25) scaleY(1.25);
  transition: all 0.5s ease-in-out !important;
}

#endTurn {
  transition: all 0.5s ease-in-out !important;
}

#rollingArea > .game-buttons {
  grid-area: gamebutton;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  grid-area: footer;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#playerUnit0 {
  /* border: 3px solid rgb(199, 97, 162); */
  border: 3px solid var(--ashley);
}

#playerUnit1 {
  border: 3px solid var(--jevan);
}

#diceModal #dice-sides {
  display: grid;
  margin: auto;
  height: 350px;
  width: 450px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '. topSide . .'
    'leftSide middleSide rightSide rightMostSide'
    '. bottomSide . .';
}

#diceModal #dice-sides > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

#diceModal #dice-sides #topSide {
  grid-area: topSide;
}

#diceModal #dice-sides #leftSide {
  grid-area: leftSide;
}

#diceModal #dice-sides #middleSide {
  grid-area: middleSide;
}

#diceModal #dice-sides #rightSide {
  grid-area: rightSide;
}

#diceModal #dice-sides #rightMostSide {
  grid-area: rightMostSide;
}

#diceModal #dice-sides #bottomSide {
  grid-area: bottomSide;
}

#winner {
  display: none;
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: rgba(65, 225, 182, 0.705);
  margin: auto;
  flex-direction: column;
}

#winner > h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 1rem;
}

#winner > #winner-text {
  flex-grow: 1;
}

#winner > nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}

.playerDice.Ashley {
  background-color: var(--ashley);
  grid-area: player1;
}

.playerDice.Jevan {
  background-color: var(--jevan);
  grid-area: player2;
}

.playerDice.Podenco {
  background-color: var(--podenco);
  grid-area: player3;
}

.dead-unit {
  background-color: rgba(75, 73, 73, 0.5) !important;
}
